lib/
output/
obj/
bin/
src/_ReSharper*
*.user
*.suo
*.pdb
*.ReSharper
*Thumbs.db
*.orig
.vs/

src/packages/NewtonSoft.Json*
src/packages/NUnit*

installer/setup-tmp\.iss

build/NuGet\.exe
build/Palaso.BuildTasks.dll
