<?xml version="1.0" encoding="utf-8"?>
<lift version="0.10">
  <entry>
    <lexical-unit>
      <form lang="eng">
        <text>TestLexeme</text>
      </form>
    </lexical-unit>
    <etymology type="borrow" source="Thai" />
  </entry>
</lift>