<?xml version="1.0" encoding="utf-8"?>
<lift version="0.10">
  <header>
    <fields>
      <field tag="custom">
        <form lang="en">
          <text>For storing markers that are otherwise not defined</text>
        </form>
      </field>
    </fields>
  </header>
  <entry guid=".*" id="EntryOne-ID0EE" dateModified="2007-11-27">
    <lexical-unit>
      <form lang="eng">
        <text>EntryOne</text>
      </form>
    </lexical-unit>
    <relation name="confer" ref="EntryTwo-ID0EFB" />
  </entry>
  <entry guid=".*" id="EntryTwo-ID0EFB" dateModified="2007-11-27">
    <lexical-unit>
      <form lang="eng">
        <text>EntryTwo</text>
      </form>
    </lexical-unit>
  </entry>
</lift>