<?xml version="1.0" encoding="utf-8"?>
<lift version="0.10">
  <header>
    <fields>
      <field tag="custom">
        <form lang="en">
          <text>For storing markers that are otherwise not defined</text>
        </form>
      </field>
    </fields>
  </header>
  <entry guid=".*" id="TestLexeme-ID0EE">
    <lexical-unit>
      <form lang="eng">
        <text>TestLexeme</text>
      </form>
    </lexical-unit>
    <sense>
      <definition>
        <form lang="eng">
          <text>Definition</text>
        </form>
        <form lang="tha">
          <text>National definition</text>
        </form>
      </definition>
    </sense>
  </entry>
</lift>