<?xml version="1.0" encoding="utf-8"?>
<lift version="0.10">
  <entry dateModified="2007-11-27">
    <lexical-unit>
      <form lang="eng">
        <text>TestLexeme</text>
      </form>
    </lexical-unit>
  </entry>
</lift>