<?xml version="1.0" encoding="utf-8"?>
<lift
	version="0.13"
	producer="Palaso.DictionaryServices.LiftWriter 1.3.81.0">
	<entry
		id="TestLexeme_*"
		dateCreated="*"
		dateModified="*"
		guid="*">
		<lexical-unit>
			<form
				lang="eng">
				<text>TestLexeme</text>
			</form>
		</lexical-unit>
    <etymology type="proto" source="Etymology Source">
      <form lang="eng">
        <text>Etymology data</text>
      </form>
      <gloss lang="eng">
        <text>English gloss</text>
      </gloss>
    </etymology>
	</entry>
</lift>