<?xml version="1.0" encoding="utf-8"?>
<lift version="0.10">
  <header>
    <fields>
      <field tag="custom">
        <form lang="en">
          <text>For storing markers that are otherwise not defined</text>
        </form>
      </field>
    </fields>
  </header>
  <entry guid=".*" id="TestLexeme-ID0EE">
    <lexical-unit>
      <form lang="eng">
        <text>TestLexeme</text>
      </form>
    </lexical-unit>
    <etymology type="proto" source="Etymology Source">
      <form lang="eng">
        <text>Etymology data</text>
      </form>
      <gloss lang="eng">
        <text>English gloss</text>
      </gloss>
    </etymology>
  </entry>
</lift>