<?xml version="1.0" encoding="utf-8"?>
<lift version="0.10">
  <header>
    <fields>
      <field tag="custom">
        <form lang="en">
          <text>For storing markers that are otherwise not defined</text>
        </form>
      </field>
    </fields>
  </header>
  <entry id="TestLexeme-ID0EE" dateModified="2007-11-27">
    <lexical-unit>
      <form lang="eng">
        <text>TestLexeme</text>
      </form>
    </lexical-unit>
    <sense>
      <gloss lang="eng">
        <text>Test Gloss</text>
      </gloss>
    </sense>
  </entry>
</lift>