<?xml version="1.0" encoding="utf-8"?>
<lift version="0.10">
  <header>
    <fields>
      <field tag="custom">
        <form lang="en">
          <text>For storing markers that are otherwise not defined</text>
        </form>
      </field>
    </fields>
  </header>
  <entry id="TestLexeme-1-ID0EE" order="1">
    <lexical-unit>
      <form lang="eng">
        <text>TestLexeme</text>
      </form>
    </lexical-unit>
  </entry>
  <entry id="TestLexeme-2-ID0E3" order="2">
    <lexical-unit>
      <form lang="eng">
        <text>TestLexeme</text>
      </form>
    </lexical-unit>
  </entry>
</lift>