<?xml version="1.0" encoding="utf-8"?>
<lift version="0.10">
  <header>
    <fields>
      <field tag="custom">
        <form lang="en">
          <text>For storing markers that are otherwise not defined</text>
        </form>
      </field>
    </fields>
  </header>
  <entry id="TestLexeme-ID0EE">
    <lexical-unit>
      <form lang="eng">
        <text>TestLexeme</text>
      </form>
    </lexical-unit>
    <pronunciation>
      <text>Pronunciation</text>
    </pronunciation>
  </entry>
</lift>