<?xml version="1.0" encoding="utf-8"?>
<lift version="0.10">
  <entry dateModified="2007-11-27">
    <lexical-unit>
      <form lang="tha">
        <text>TestLexeme</text>
      </form>
    </lexical-unit>
    <sense>
      <example source="ABC 1.2.3">
        <form lang="tha">
          <text>A example sentence</text>
        </form>
        <translation>
          <form lang="eng">
            <text>A translated example</text>
          </form>
        </translation>
      </example>
    </sense>
  </entry>
</lift>