<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolidGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SolidGui.Properties.Settings>
            <setting name="PreviousPathToDictionary" serializeAs="String">
                <value />
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </SolidGui.Properties.Settings>
    </userSettings>
</configuration>